p {
    background-color: blueviolet;
    font-family: Courier New, Courier, monospace;
}

p:hover {
    background-color: orange;
}

body {
    background-image: url("https://static.stereogum.com/blogs.dir/2/files/2008/03/rickroll-still-compressed.jpg");
    background-repeat: repeat-x repeat-y;
}